# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

### Specific for development
*~
*bck
*.swp
*target*
build/
.DS_Store
.AppleDouble
*.o
vieworks-vp.xcodeproj/project.xcworkspace/xcuserdata/serge.xcuserdatad/WorkspaceSettings.xcsettings
vieworks-vp.xcodeproj/xcuserdata/
